* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #fff;
}

header {
  background-color: #ddd;
  background-size: cover;
  display: flex;
  justify-content: center;
  gap: 900px;
  align-items: center;
  padding: 20px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  cursor: pointer;
  font-size: 26px;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333333dd;
  padding-top: 60px;
  transition: 0.3s ease;
}

.side-menu a {
  display: block;
  text-align: left;
  padding: 15px 25px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.side-menu a:hover {
  background-color: #403f3f;
}

#menu-toggle:checked + .menu-icon + .side-menu {
  left: 0;
}


/*hero section*/
.hero-section {
  background-color: #e5e5e5;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.image-wrapper {
  position: relative;
  width: fit-content;
}

.white-block {
  position: absolute;
  left: 750px;
  width: 300px;
  height: 750px;
  background-color: white;
  z-index: 1;
}

.image-wrapper img {
  margin-top: 60px;
  position: relative;
  z-index: 2;
  width: 968px;
  height: 623px;
  display: block;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}


.white-card{
display: flex;
flex-direction: column;
padding: 40px;

background-color: #fff;
height: 362px;
width: 570px;

}
