body{
    margin: 0;
    padding: 0;
    background-color:  #f9f6ee;
    overflow: hidden;
}

.page-width{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}


header{
   text-align: center;
   padding: 40px 16px;
   word-spacing: 40px;
}
header a{
   font-size: 1.0rem;
   color: #111111;
   font-family: "Raleway", sans-serif;
   text-decoration: none; 
}
header a:hover{
    color: #f9de9b !important;
}
header a.active{
    color: #f1ae0e !important;
}

