body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 15px;
}

header a {
  text-decoration: none;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  color:  black;
  padding: 20px;
}

header a:hover {
  color: rgb(190, 166, 190);  
  text-decoration: none;  
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:30px;
  height: 600px;     
  object-fit: cover;       
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

.banner-overlay-img {
  max-width: 50px;
  margin: 10px 0;
}
.banner h5{
    font-size: 20px;
}
.banner h1{
    font-size: 58px;
    font-weight: normal;
}

.luxary-interior {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  gap: 100px;
  text-align: left;
}

.img-under-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  font-family: 'raleway' ,sans-serif;
  font-size: 30px;
}


.chair-img {
  width: 350px;
  height: 350px;
  margin-top: 20px;
}

.text-side {
  max-width: 500px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  
}

.why-choose-us {
  background-color: #ac96bd;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.why-choose-us h2 {
  font-size: 48px;
  margin-bottom: 35px;
  font-weight: normal;
}

.why-columns {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
}
.column{
   padding: 10px;
}

.column h3 {
  font-size: 22px;
  margin-bottom: 10px;
  
}

.column p {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  line-height: 1.6;
}

.chair-and-plant{
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

    .faq-section {
    text-align: center;
      padding: 60px 20px 40px;
    }

    .faq-section h2 {
      font-size: 48px;
      margin-bottom: 30px;
      font-weight: normal;
    }

    .faq-container {
      max-width: 800px;
      margin: 0 auto;
      text-align: left;
    }

    details {
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }

    summary {
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      position: relative;
      padding: 10px 0;
      list-style: none;
    }

    summary::marker {
      display: none;
    }

    summary::after {
      content: "▼";
      position: absolute;
      right: 0;
      transition: transform 0.3s;
    }

    details[open] summary::after {
      transform: rotate(180deg);
    }

    details p {
      background-color: #f8f3ed;
      padding: 15px;
      margin-top: 10px;
      border-radius: 4px;
    }

    .social-section {
  text-align: center;
  padding: 50px 20px;
}

.social-section h2 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: normal;
  font-family: 'raleway' ,sans-serif;
}

.social-content {
  padding: 20px;
  align-items: center;
  font-weight: normal;
}

.social-content i {
  font-size: 24px;
  margin: 0 10px;
  color: #666;
  transition: color 0.3s;
  cursor: pointer;
}

.social-content i:hover {
  color: #9074ab ;
}

.social-content img {
  width: 220px;
  height: 230px;
  object-fit: cover;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
}

.social-content img:hover {
  transform: scale(1.08);
}

.quote-section {
  background-color: #cbbba0; /* Light brown background */
  text-align: center;
  padding: 60px 20px;
  color: white;
}

.quote-text {
  font-size: 28px;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 20px;
}

.quote-author {
  font-weight: bold;
  margin-bottom: 20px;
}

.signature {
  width: 150px;
  height: auto;
}

.middle-section {
  background-color: #bfa6d0; /* Light purple/lavender */
  color: white;
  text-align: center;
  padding: 30px 20px;
  font-size: 16px;
}


.footer-section {
  background-color: #1e1e1e;
  color: #d1ffd1;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.footer-section a {
  color: #cfcfcf;
  text-decoration: underline;
}




/*About-page8*/

.about-page-hero-sec{
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}
.about-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}
.about-us h1{
  font-size: 48px;
  font-family: 'raleway',sans-serif;
  font-weight: normal;
  color: #3d3636;
}
.about-us p{
  font-size: 19px;
  padding-left: 450px;
  padding-right: 450px;
  font-weight: normal;
  margin-bottom: 50px;
  color: rgb(51, 50, 50);
}
.delivery{
  display: flex;
   justify-content: space-evenly;

  color: #ffffff;
  background-color: #bfb29c;
}
.delivery-imgs{
  margin-top:60px ;
  margin-bottom: 70px;
}
.delivery-imgs img{
  max-height: 64px;
  max-width: 64px;
}
.delivery-imgs h5{
  font-size: 20px;
}
.delivery-imgs p{
  font-size: 18px;
}
.house-into-home {
 
  text-align: center;
  padding: 60px 20px;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
}
.house-into-home h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
.house-into-home .subtitle {
  font-size: 18px;
  color: #444;
  margin-bottom: 100px;
}
.house-container{
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  height: 640px;
}
.text-card {
  background-color: #b192c4; 
  padding: 25px;
  text-align: start;
  max-width: 500px;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}
.text-card p{
  color: #ffffff;
   line-height: 2;
  font-size: 1.25rem;
  margin: 0;
}
.text-card span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #ffffff;
}
.text-under-img {
  text-align: start;
  max-width: 500px;
  margin: 0 auto;
  line-height: 2;
  font-size: 1.25rem;
  color: #333;
}
.circle-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}
.circle-img:hover {
  transform: scale(1.05); 
}
.about-pg-why-choose-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 12%;
  gap: 40px;
  background-color: #fff;
}
.about-pg-heading-section {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 40px;
}
.about-pg-heading-section h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #3d3636;
  font-weight: normal;
  line-height: 1.2;
}
.about-pg-heading-section p {
  font-size: 20px;
  color: #888;
  margin-bottom: 15px;
}
.about-pg-heading-section small {
  font-size: 16px;
  color: #888;
  
}
.about-pg-quote-section {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-pg-quote-section strong{
  font-size: 20px;
}
.about-pg-quote-section img {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}
.about-pg-quote-section p {
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
  color: #3d3636;
}
.about-pg-quote-section strong {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  color: #3d3636;
}
.about-pg-image-section {
  flex: 1 1 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-pg-image-section img {
  width: 550px;
  height: 700px;
  object-fit: cover;

}
.have-any-problem{
  display: flex;
  flex-direction: column;
 align-items: center;
  color: #ffffff;
  background-color: #bfb29c;

}
.para-container{
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
}
.problem-heading{
  text-align: center;
}
.problem-heading h6{
  font-size: 16px;
}
.problem-heading h2{
  font-size: 48px;
  font-weight: normal;
}
.paragraph{
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
  
}
.paragraph p{
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 50px;
}



/*conatct page*/
.contact-page-hero-sec{
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}
.contact-form {
    width: 60%;
    max-width: 800px;
    margin: 100px auto;
    padding: 0 20px;
}
.contact-form h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;
    color: #2f2b2b;
    font-weight: normal;
}
label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    color: #292626;
}
input,textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    color: #333;
    outline: none;
}
button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover {
    background-color: #333;
}
.contact-section {
  background-color: #b8ab97;
  color: white;
  text-align: center;
  padding: 60px 20px;
}
.address {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: normal;
}
.phone {
  font-size: 36px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: bold;
}
.phone i {
  font-size: 50px;
}
.number {
  font-size: 50px;
}
.description {
  font-size: 18px;
  margin-top: 20px;
  color: #fff;
  line-height: 1.6;
}
