body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

header a {
  text-decoration: none;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  color:  black;
  padding: 15px;
}

header a:hover {
  color: rgb(190, 166, 190);  
  text-decoration: none;  
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 600px;     
  object-fit: cover;       
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.banner-overlay-img {
  max-width: 50px;
  margin: 10px 0;
}